.person {
    padding: 20px 30px 20px 15px;
    position: relative;
    border-radius: 10px;
    z-index: 22;
    margin: -28px 0 0 0;
    width: 100%;
    min-height: 101px;
    background-color: #fff;
    display: flex;
    flex-basis: 33.33%;
    height: 137px;
}
.userProperty {
    display: flex;
    margin: 10px 0 0 20px;
    flex-direction: column;
    gap: 10px;
}
.name {
    font-size: 20px;
    font-weight: 600;
    &:first-child {
        margin: 0 0 0 20px;
    }
    &:nth-child(2) {
        margin-left: 5px;
    }
}
.profileInformation {
    flex-basis: 700px;
}
.text {
    margin: 0 15px 0 5px;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
    color: #626d7a;
    &:hover {
        border-bottom: 1px solid #626d7a;
    }
}
.subWrapper {
    &:nth-child(2) {
        padding-bottom: 20px;
    }
}
.avatar {
    z-index: 10;
    display: block;
    margin: -100px 0 0 0;

    .avatar__item {
        object-fit: cover;
        box-sizing: content-box;
        border-radius: 50%;
        border: 4px solid white;
        width: 150px;
        height: 150px;
    }
}
.headerActions {
    flex-basis: 25%;
    display: flex;
    gap: 5px;
}
.btn {
    height: 40px;
    line-height: 32px;
    max-width: 200px;
    width: 100%;
    color: rgb(52, 98, 151);
    border-radius: 8px;
    display: inline-block;
    padding: 0 5px 0 5px;
    font-size: 16px;
    font-weight: 500;
    text-wrap: nowrap;
}
.blue {
    background-color: rgb(68, 123, 186);
    color: #fff;
}
.personInfo {
    flex-basis: 60%;
}
