.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 100%;
    color: #626d7a;
}
.img {
    display: inline-block;
    color: #99a2ad;
}
